<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Board</title>
</head>
<body>
    <h3>포스트 작성</h3>
    
    <form method="post" action="/sns/add">{% csrf_token %}
        <p><label for="password">비밀번호 : <br></label><input type="password" id="password" name="password" value="" /></p>
        <p>내용 : <br><textarea id="content" name="content"></textarea></p>
        <p><input type="submit" value="post" /></p>
    </form>

    <hr/>

    {% block content %}
        <h3>타임라인</h3>
    {% endblock %}
</body>

</html>
